<%- include("header") -%>

<h2>ToDoList Project</h2>

<p>This project was created as part of the App Brewery's online Full-stack Web Development course. Additonaly,
I have made some functional changes including implementing environment variables to hide sensitive info before pushing to Github. I have also made
some small stylistic changes. For the most part, the usage is straight forward. You can add custom name lists to use later by appending
a list name to the end of the url. </p>

<%- include("footer") -%>
